beautifulsoup4
bokeh
bottleneck
cartopy
cython
folium
geopandas
ipyleaflet
ipywidgets
jupyterlab
networkx
nodejs
notebook
numexpr
numpy
osmnx
pillow
pip
scikit-learn
scipy
seaborn
statsmodels
xlrd
xlwt
