beautifulsoup4
bokeh
bottleneck
cartopy
cython
folium
geopandas >= 0.4.1
ipyleaflet
ipywidgets
jupyterlab
networkx
nodejs
numexpr
numpy
osmnx >= 0.9
pillow
pip
psycopg2
pysal >= 2
python == 3.*
scikit-learn
scipy
seaborn
statsmodels
xlrd
xlwt
