beautifulsoup4
bokeh
bottleneck
cartopy
cython
folium
geopandas
ipyleaflet
ipywidgets
jupyterlab
networkx
nodejs
numexpr
numpy
osmnx
pillow
pip
psycopg2
scikit-learn
scipy
seaborn
statsmodels
xlrd
xlwt
